{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Login{% endblock %}

{% block body %}

{% for message in app.flashes('verifyMessage') %}
    <div class="danger-alert" role="alert">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success') %}
    {% if loop.first %}
        <div class="success-alert">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<section class="login">

    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <form class="login-form" method="post">
        <fieldset>
            <legend>Please enter your login credentials:</legend>

            {% if error is not null %}
                <div class="danger-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for flash_error in app.flashes('password_reset_success') %}
                <div class="danger-alert" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div class="form-fields-wrapper">
                <div>
                    <label class="" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <button class="btn ani-underline-from-center btn-lg btn-primary" type="submit">
                Sign in
            </button>
            
            <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a>
        </fieldset>
    </form>

</section>

{% endblock %}
