{% extends 'base.html.twig' %}

{% block title %}DeFi Works{% endblock %}

{% block body %}

<div class="content-wrapper">

    {% for message in app.flashes('account_closed') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}

    <h1>DeFi Works</h1>

    {% if app.user is defined %}
        {% if app.user %}
            <a href="{{ path('app_dashboard') }}">Dashboard</a>
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('app_register') }}">Register</a>
            <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
    {% endif %}

    <p>Current strategy is yielding{% if liveApy is defined %} {{ liveApy|round(2, 'floor') }}% {% else %} 4% {% endif %}</p>


</div>
{% endblock %}
