{% extends 'base.html.twig' %}

{% block title %}Enter Pin - DeFi Works{% endblock %}

{% block body %}

    {% for message in app.flashes('pending_transaction_error') %}
        <div class="danger-alert" role="alert">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        {% if loop.first %}
            <div class="success-alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <section class="pin-page">
        <h1>Enter Pin</h1>
        {{ form_start(PinForm) }}
            <fieldset>
                <legend>Please enter your <strong>6 digit</strong> pin to continue:</legend>
                <div class="pin-form-wrap">
                    {{ form_row(PinForm.pin) }}
                    <button class="btn ani-underline-from-center" type="submit">Submit</button>
                </div>
            </fieldset>
        {{ form_end(PinForm) }}
    </section>


{% endblock %}
