{% extends 'base.html.twig' %}

{% block title %}Dashboard - DeFi Works{% endblock %}

{% block body %}

{#  prints verification success message  #}
{% for message in app.flashes('success') %}
    {% if loop.first %}
        <div class="success-alert">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

{% for message in app.flashes('password_reset_success') %}
    <div class="alert user-success-msg" role="alert">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success_pin') %}
    <div class="alert user-success-msg" role="alert">{{ message }}</div>
{% endfor %}

<h1 class="text-center">{{ user | capitalize }}'s Dashboard</h1>

<div class="dashboard-content-wrapper">
    <section class="site-status-info">
        <span>DeFi Works status:</span>
        <div class="site-status-info-inner">
            <p>Current TVL: $2322.03</p>
        </div>
    </section>
    <section class="dash-info">
        <div class="dash-item">
            <p>Balance</p><span>{% if balance is null %} $0 {% else  %} ${{ balance }} {% endif %}</span>
        </div>
        {% if pendingBalance != 0 %}
        <div class="dash-item">
            <p class="pending-balance">Pending Balance</p> <span>${{ pendingBalance }}</span>
        </div>
        {% endif %}
        <div class="dash-item">
            <p>Profit</p><span>{% if profit is null %} $0 {% else  %} ${{ profit }} {% endif %}</span>
        </div>
        <div class="dash-item">
            <p>Growth</p><span>{% if growth is null %} $0 {% else  %} {{ growth }}% {% endif %}</span>
        </div>
        <div class="dash-item">
            <p>APY</p><span>{% if liveApy is defined %} {{ liveApy|round(2, 'floor') }}% {% else %} 4% {% endif %}</span>
        </div>
    </section>

    <section class="dash-buttons">
        {# -- Deposit Button -- #}
        {% if pendingBalance != 0  %}
            <div class="dash-item disabled">
                <a class="deposit-btn disable-btn" href="{{ path('app_deposit') }}">
                    <lord-icon
                        src="https://cdn.lordicon.com/yeallgsa.json"
                        trigger="hover"
                        colors="primary:#484848,secondary:#484848"
                        stroke="25">
                    </lord-icon>
                Deposit</a>
            </div>
        {% else %}
            <div class="dash-item">
                <a class="deposit-btn" href="{{ path('app_deposit') }}">
                    <lord-icon
                        src="https://cdn.lordicon.com/yeallgsa.json"
                        trigger="hover"
                        colors="primary:#5d66e6,secondary:#ffffff"
                        stroke="25"
                        target="div">
                    </lord-icon>
                Deposit</a>
            </div>
        {% endif %}
        {# --------------------- #}

        {# -- Withdraw Button -- #}
        {% if balance is null or balance == 0 or pendingBalance != 0  %}
            <div class="dash-item disabled">
                <a class="withdraw-btn disable-btn" href="{{ path('app_withdraw') }}">
                    <lord-icon
                        src="https://cdn.lordicon.com/rgyftmhc.json"
                        trigger="hover"
                        colors="primary:#484848,secondary:#484848"
                        stroke="25">
                    </lord-icon>
                Withdraw</a>
            </div>
        {% else %}
            <div class="dash-item">
                <a class="withdraw-btn" href="{{ path('app_withdraw') }}">
                    <lord-icon
                        src="https://cdn.lordicon.com/rgyftmhc.json"
                        trigger="hover"
                        colors="primary:#ffffff,secondary:#5d66e6"
                        stroke="25"
                        target="div">
                    </lord-icon>
                Withdraw</a>
            </div>
        {% endif %}
        {# --------------------- #}

        <div class="dash-item">
            <a href="{{ path('app_transaction_history') }}">
                <lord-icon
                    src="https://cdn.lordicon.com/wxnxiano.json"
                    trigger="morph"
                    colors="primary:#5d66e6,secondary:#ffffff"
                    stroke="25"
                    target="div">
                </lord-icon>
            Transaction History</a>
        </div>

        <div class="dash-item">
            <a href="{{ path('app_user_account') }}">
                <lord-icon
                    src="https://cdn.lordicon.com/sbiheqdr.json"
                    trigger="hover"
                    colors="primary:#ffffff,secondary:#5d66e6"
                    stroke="25"
                    target="div">
                </lord-icon>
            Manage Account</a>
        </div>
    </section>
</div>

{% endblock %}
