{% extends 'base.html.twig' %}

{% block title %}Dashboard - DeFi Works{% endblock %}

{% block body %}

{# {% for message in app.flashes('password_reset_success') %} #}
    <div class="alert user-success-msg" role="alert">Pin Accepted</div>
{# {% endfor %} #}

{% for message in app.flashes('success_pin') %}
    <div class="alert user-success-msg" role="alert">{{ message }}</div>
{% endfor %}

<h1 class="text-center">{{ user | capitalize }}'s Dashboard</h1>

<div class="dashboard-content-wrapper">
    <section class="site-status-info">
        <div class="site-status-info-inner">
            <p class="site-status">DeFi Works status:</p>
            <p>Total Value Locked: <strong>{% if tvl is null %} $0 {% else  %} ${{ tvl }} {% endif %}</strong></p>
            <p>APY: <span>{% if liveApy is defined %} {{ liveApy|round(2, 'floor') }}% {% else %} 4% {% endif %}</span></p>
        </div>
        <div class="site-status-info-inner">
            <p class="site-status" >Average strategy returns:</p>
            {% if weekAvg is not null %} <p>Week: <strong>{{ weekAvg }}%</strong></p>{% endif %}
            {% if monthAvg is not null %} <p>Month: <strong>{{ monthAvg }}%</strong></p>{% endif %}
            {% if yearAvg is not null %} <p>Year: <strong>{{ yearAvg }}%</strong></p>{% endif %}
        </div>
    </section>
    <section class="account-status">
        <h4>{{ user | capitalize }}'s Account:</h4>
        <div class="dash-info">
            <div class="dash-item">
                <p>Balance</p><span>{% if balance is null %} $0 {% else  %} ${{ balance }} {% endif %}</span>
            </div>
            {% if pendingBalance != 0 %}
            <div class="dash-item">
                <p class="pending-balance">Pending Balance</p> <span>${{ pendingBalance }}</span>
            </div>
            {% endif %}
            <div class="dash-item">
                <p>Profit</p><span>{% if profit is null %} $0 {% else  %} ${{ profit }} {% endif %}</span>
            </div>
            <div class="dash-item">
                <p>Growth</p><span>{% if growth is null %} $0 {% else  %} {{ growth }}% {% endif %}</span>
            </div>
            <div class="dash-item">
                <p>Projected Balance (+1 YR)</p><span>{% if projectedBalance is null %} $0 {% else  %} ${{ projectedBalance }} {% endif %}</span>
            </div>
        </div>
    </section>

    <section class="dash-buttons">
        {# -- Deposit Button -- #}
        {% set isPendingBalance = pendingBalance != 0 %}

        <div class="dash-item {% if isPendingBalance %}disabled{% endif %}">
            <a class="deposit-btn{% if isPendingBalance %} disable-btn {% endif %}" href="{{ path('app_deposit') }}">
                <lord-icon
                    src="https://cdn.lordicon.com/yeallgsa.json"
                    trigger="hover"
                    colors="primary:{{ isPendingBalance ? '#484848' : '#5d66e6' }},secondary:{{ isPendingBalance ? '#484848' : '#ffffff' }}"
                    stroke="25"
                    {% if isPendingBalance == 0 %}target="div"{% endif %}>
                </lord-icon>
                Deposit
            </a>
        </div>
        {# -- Withdraw Button -- #}
        {% set isBalanceZeroOrNull = balance is null or balance == 0 %}
        {% set isPendingBalanceNonZero = pendingBalance != 0 %}

        <div class="dash-item{% if isBalanceZeroOrNull or isPendingBalanceNonZero %} disabled {% endif %}">
            <a class="withdraw-btn{% if isBalanceZeroOrNull or isPendingBalanceNonZero %} disable-btn {% endif %}" href="{{ path('app_withdraw') }}">
                <lord-icon
                    src="https://cdn.lordicon.com/rgyftmhc.json"
                    trigger="hover"
                    colors="primary:{{ isBalanceZeroOrNull or isPendingBalanceNonZero ? '#484848' : '#ffffff' }},secondary:{{ isBalanceZeroOrNull or isPendingBalanceNonZero ? '#484848' : '#5d66e6' }}"
                    stroke="25"
                    {% if isBalanceZeroOrNull == 0 %}target="div"{% endif %}>
                </lord-icon>
                Withdraw
            </a>
        </div>

        <div class="dash-item">
            <a href="{{ path('app_transaction_history') }}">
                <lord-icon
                    src="https://cdn.lordicon.com/wxnxiano.json"
                    trigger="morph"
                    colors="primary:#5d66e6,secondary:#ffffff"
                    stroke="25"
                    target="div">
                </lord-icon>
            Transaction History</a>
        </div>

        <div class="dash-item">
            <a href="{{ path('app_user_account') }}">
                <lord-icon
                    src="https://cdn.lordicon.com/sbiheqdr.json"
                    trigger="hover"
                    colors="primary:#ffffff,secondary:#5d66e6"
                    stroke="25"
                    target="div">
                </lord-icon>
            Manage Account</a>
        </div>
    </section>
</div>

{% endblock %}
