{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {#  prints verification success message  #}
    {% for message in app.flashes('success') %}
        {% if loop.first %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <h1>{{ user }}'s Dashboard</h1>

    <div class="dashboard-content-wrapper">
        <p>Current Portfolio Balance: <span>****</span></p>
        <p>Total Interest Gained: <span>***</span></p>
        <p>Current APY: <span>{{ apy|round(2, 'floor') }}%</span></p>
    </div>

    <div class="manage-account-wrapper">
        <a href="{{ path('app_logout') }}">Manage Your Account</a>
        <br>
        <a href="{{ path('app_home') }}">Contact us</a>
    </div>

</div>
{% endblock %}
