{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Withdraw{% endblock %}

{% block body %}

<section class="withdraw-details">

    <h1>Withdraw Details</h1>

    <p>* The name registered to the bank account must match the name on your DeFi Works account.</p>
    <span>Please include hyphens when entering your sort code.</span>

    {{ form_start(WithdrawDetailsForm) }}
    {{ form_row(WithdrawDetailsForm.sort_code) }}
    {{ form_row(WithdrawDetailsForm.account_number) }}
    <button class="btn mb-3" type="submit">Continue</button>
    {{ form_end(WithdrawDetailsForm) }}

    <a class="back-btn" href="{{ path('app_dashboard') }}"><i style="color:#8272e7;" class="fa fa-arrow-left" aria-hidden="true"></i> Back to Dashboard</a>

</section>

{% endblock %}
